body {
    background-image: url(https://www.google.com/imgres?q=imagem%20ibjjf&imgurl=https%3A%2F%2Fibjjf.com%2Fpacks%2Fmedia%2Fimages%2Fibjjf%2Flogo-ibjjf-vertical-WHITE-2f0eca828e1178f13116b07c579cead2.svg&imgrefurl=https%3A%2F%2Fibjjf.com%2F&docid=NnMSm9T9JHPVZM&tbnid=vCP-ES4K-HCVSM&vet=12ahUKEwjHscv8zfKJAxV6ppUCHWjiJlgQM3oECGsQAA..i&w=585&h=543&hcb=2&ved=2ahUKEwjHscv8zfKJAxV6ppUCHWjiJlgQM3oECGsQAA);
    background-repeat: no-repeat;
    background-position: center, center;
    font-size: 200%;
    background-attachment: fixed;
    background-size: 200vh;
}

#topo {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin: 3%;
    padding: 1%;
}

#corpo {
    margin: 3%;
    background-color: rgba(0, 181, 253, 0.112);
    height: auto;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid
        /**dotted,double,inset,outset,dashed*/
    ;
    padding: 3%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#pe {
    margin-top: 3%;
    margin: 0%;
    background-color: gray;
    width: 100%;
}
